<div class="container my-4">
    <div class="text-center">
        <h1>Your cart</h1>
    </div>
    <div class="row my-3">
        <div class="col-2 border rounded text-center" style="width: 280px;">
            <figure class="mx-auto">
                <img src="assets/images/dettolSanitizer.png" class="mx-auto" width="auto" height="150">
                <hr>
                <figcaption>
                    <h2>Seller: Xyz store</h2>
                    <h3 class="about">
                        Dettol alcochol based hand sanitizer
                    </h3>
                    <span class="about float-start" style="font-size: 20px;"><b>$ 120</b></span>
                    <span class="about float-end" style="font-size: 20px;">Quantity : <b>4</b></span>
                    <button class="btn btn-outline-danger my-3 px-4 py-2" style="margin-top: -10px;">Remove</button>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="float-end">
        <button class="btn btn-success px-4" (click)="onProceed()">
            Proceed
        </button>
    </div>
</div>
